html {
    scroll-behavior: smooth;
}

body {
    font-family: 'ubuntu', sans-serif;
    line-height: 1.5;
    color: rgb(255, 255, 255);
    margin: 0em 5em;
    background-image: url(4k.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

    
}

@font-face {
    font-family: 'djgross';
    src: url(DJGROSS.ttf);
}

.titill {
    font-family: djgross;
    color: yellow;
    text-shadow: -1px -3px 0px rgb(255, 255, 255);
    filter: drop-shadow(2px 2px 0 black) 
    drop-shadow(-2px -2px 0 black);
}

.subtitill {
    font-family: djgross;
    color: yellow;
    font-size: x-large;
    text-shadow: 4px 4px 0px rgb(0, 33, 105);
}

.content {
    max-width: 60em;
    margin: 0 auto;
    padding: 1em 1em;
}

.efni {
    background-color: rgb(21, 0, 59, 0.9);
    color: rgb(231, 248, 255);
}

.verkefni {
    width: 10%;
    position: absolute;
    right: 5%;
    filter: drop-shadow(1px 1px 0 white) 
        drop-shadow(-1px -1px 0 white);
}

.header a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    justify-content: space-around;
}

.listi li {
    font-family: 'Major Mono Display', monospace;
    color: yellow;
}

.cdpr {
    max-width: 100%;
}

.samurai {
    max-width: 50%;
}

.render {
    max-width: 100%;
}

.footer {
    font-family: 'Major Mono Display', monospace;
    font-weight: bolder;
}

.footer a {
    text-decoration: none;
    color: #fff;
}

.footer a:visited {
    color: yellow;
    text-decoration: none;
}

.header h1 {
    font-weight: 300;
    text-transform: capitalize;
    font-size: 3em;
    margin: 1em 0;
}

.innermenu {
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.innermenu a {
    font-family: djgross;
    padding: .3em .5em;
    background-color: rgb(21, 0, 59, 0.9);
    border: 2px solid yellow;
    text-transform: uppercase;
    color: yellow;
    text-decoration: none;
    text-align: center;
}

.uppskrift {
    padding: 5px;
    border: 3px yellow solid;
}

.video {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
}
.video iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 3px yellow solid;
}

.copy {
    text-align: center;
    font-family: djgross;
}

.padd3em {
    padding: 3em;
}

b {
    color: yellow;
    font-family: 'Major Mono Display', monospace;
}

.efst {
    position: fixed;
    bottom: 1em;
    right: 1em;
    width: 100%;
    display: block;
    color: black;
    font-size: 2em;
    text-align: right;
    text-decoration: none;
    border-radius: 50%;
}

.map {
    border: 3px yellow solid;
    width: 100%;
    height: 100%;
}

@media screen and (min-width: 37.5em) {
    .col-2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .main-col-2 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 2em;
    }

    .innermenu {
        flex-flow: row;
        flex-wrap: wrap;
    }
    


}



@media screen and (max-width: 37.5em) {
    body {
        margin: 0;
    }


}

@media screen and (max-width: 48) {
    body {
        margin: 0;
    }

}

@media screen and (min-width: 48em) {

    .header h1 {
        font-size: 3em;
    }
    .verkefni {
        display: block;
        text-align: right;
    }
}

@media screen and (min-width: 60em) {
    .content {
        max-width: 60em;
    }


}